@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
@import url(social-footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
header {
  width: 100%;
  height: 50px;
  background: #db1616;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.contenedor {
  width: 98%;
  margin: auto;
}
h1 {
  float: left;
}
header .contenedor {
  display: table;
}

section {
  width: 100%;
  margin-bottom: 25px;
}
#bienvenidos {
  text-align: center;
}
